body {
    background-color: #0A1128;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#game-container {
    max-width: 1200px;
    width: 80%;
    transform: scale(0.9);
    transform-origin: center center;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 20px;

    user-select: none;
}

.game-container-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*align-self: flex-end;
    gap: 50px;*/
}

.game-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.game-container-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}

.player-info-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    margin-top: 0;
}

.player-name{
    font-size: 18px;
    font-weight: bold;
}

.player-lp {
    font-size: 16px;
    font-style: italic;
}

#turn-indicator {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #FFFFFF;
    gap: 5px;
}

#phase-tracker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #FFFFFF;
    margin-top: auto;
}

.phase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 8px;
    background-color: #333333;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    text-align: center;
    
    cursor: default;
}

.current {
    background-color: #008000;
    color: #FFFFFF;
}

.active {
    background-color: #FFFFFF;
    color: #333333;
}

.hand-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: calc(5vw * 6.5);
    min-height: calc(65px * 1.4584);
    width: 100%;
    margin-bottom: -40px;
    margin-top: -40px;
    overflow: visible;
}

.field-container {
    display:flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.left-zones, .right-zones, .middle-zones {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.deck-zone, .extra-deck-zone {
    display: flex;;
    justify-content: center;
    align-items: center;
}

.spell-zone, .monster-zone, .extra-monster-zone {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.extra-monster-zone {
    margin-top: -40.5px;
    margin-bottom: -40.5px;
}

.monster-slot-wrapper {
    display: grid;
    place-items: center;
    width: 5vw;
    aspect-ratio: 1 / 1.45;
    max-width: 65px;
    min-width: 45px;
    max-height: calc(65px * 1.45);
    min-height: calc(45px * 1.45);
}

.wrapper > div {
    grid-area: 1 / 1;
}

.card-slot {    
    width: 5vw; 
    max-width: 65px;
    min-width: 45px;
    aspect-ratio: 1 / 1.45;

    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background-color: #333333;
    box-sizing: border-box;
}

.set-slot {
    display: flex;
    
    width: 5vw; 
    max-width: 65px;
    min-width: 45px;
    aspect-ratio: 1 / 1.45;

    border: 2px dashed #333333;
    border-radius: 5px;
    box-sizing: border-box;

    transform: rotate(-90deg);
    transform-origin: center center;
    
    z-index: -1;
}

.hand-container .card-slot {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.5vw; 
    max-width: 58px;
    min-width: 40px;
    aspect-ratio: 1 / 1.45;
    flex-shrink: 0;
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease  
}

.hand-container .card-slot:hover {
    transform: translateY(-20px) scale(1.1); 
    z-index: 999;
}

.monster-zone .card-slot {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

.extra-monster-zone .card-slot {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spell-zone .card-slot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-zone .card-slot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banished-zone .card-slot, .graveyard-zone .card-slot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.invisible {
    background-color: transparent;
    border-color: transparent;
}

.pendulum-left {
    border-color: #0000FF;
}

.pendulum-right {
    border-color: #FF0000;
}

.card-slot img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1.45;
    object-fit: contain;
    border-radius: inherit;
    pointer-events: none;
    position: relative;
    z-index: 1;
}

.set-slot img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*.card-in-hand-dropbox-monster {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #222222;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    z-index: 1001;
}

.card-in-hand-dropbox-spell-trap {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #222222;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    z-index: 1001;
}*/

.dropbox {
     position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #222222;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    z-index: 1001;
}

.card-in-hand-dropbox {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #222222;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    z-index: 1001;
}

.card-on-field-dropbox {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #222222;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    z-index: 1001;
}

.hidden {
    display: none;
}

.dropbox-item {
    padding: 5px 5px;
    background-color: #444444;
    color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.dropbox-item:hover {
    background-color: #666666;
}

.card-slot.valid-target {
    border: 2px dashed #00ff66 !important;
    background-color: rgba(0, 255, 102, 0.15) !important;
}

.set-slot.valid-target {
    border: 2px dashed #00ff66 !important;
    background-color: rgba(0, 255, 102, 0.15) !important;
    z-index: 1000;
}

.set-slot.full {
    z-index: 1000;
}